{% extends "base.html" %}

{% load tz %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <h2 class="post-title">
            {{ title }}
          </h2>
          <h3 class="post-subtitle">
            {{ content }}
          </h3>
          <p class="post-meta">Posted by
             <a href="#">{{ author.username }}</a>
            on {{ created }}</p>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

